# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitattributes

# Environment
.env

# Project Specific
data/vector_store/
data/meetings.json

# IDEs
.vscode/
.idea/
*.swp
*.swo
